<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>nightshade.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>puffinnotes.huihuisystems.biz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>puffinnotes.huih_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NoticeBoardDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=nightshade.arvixe.com;Initial Catalog=PuffinNotes;Persist Security Info=True;User ID=Rodney;Password=Trigger" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PuffinNotes.Models.NoticeBoardDBContext, PuffinNotes" MigrationConfiguration="PuffinNotes.Migrations.Configuration, PuffinNotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NoticeBoardDBContext-Web.config Connection String">
      <ParameterValue>Data Source=nightshade.arvixe.com;Initial Catalog=PuffinNotes;Persist Security Info=True;User ID=Rodney;Password=Trigger</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>