body
{

  font-family: Rockwell, Consolas, 'Courier New', monospace;
}


#logo
{
  display:inline-block;
  vertical-align: middle;
}

#title
{
  display: inline-block;
  vertical-align: middle;
  color: #808080;
}


ul#topmenu li
{
  display: inline-block;
  width: 200px;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}

ul#topmenu
{
  -webkit-padding-start: 0px;
}

.note
{
    width : 150px;
    height : 150px;
    background-color: #FFFF66;
    font-family: cursive;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.noticeboard
{
    width : 700px;
    height : 700px;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}